.ivy-actual-bar {
    display: flex;
    height: 15px;
}
.ivy-bar-unit {
    height: 100%;
}
.ivy-bar-unit:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ivy-bar-unit:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ivy-death-bar{
    margin-top: 5px;
    gap: 1px;
}
.ivy-death-unit {
    height: 100%;
    flex: 1;
    background-color: red;
    border-radius: 5px;
    opacity: 0.2;
}
.ivy-death-unit-dead {
    background-color: black;
    opacity: 1;
}

.ivy-attended {
    background-color: green;
}

.ivy-public-absence {
    background-color: yellow;
}

.ivy-absence {
    background-color: red;
}

.ivy-empty {
    background-color: lightgray;
}