.ivy-actual-bar {
    display: flex;
    height: 15px;
}

.ivy-bar-unit {
    height: 100%;
}

.ivy-bar-unit:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ivy-bar-unit:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ivy-death-bar {
    margin-top: 5px;
    gap: 1px;
}

.ivy-death-unit {
    height: 100%;
    flex: 1;
    background-color: rgb(238, 251, 255);
    border-radius: 5px;
}

.ivy-death-unit-dead {
    background-color: #ffcccc;
    opacity: 1;
}

.ivy-attended {
    background-color: #ccccff;
    /* background-color: #3dbcff; */
}

.ivy-public-absence {
    background-color: #ccffcc;
    /* background-color: #9ee07b; */
}

.ivy-absence {
    background-color: #ffcccc;
    /* background-color: #f18676; */
}

.ivy-empty {
    background-color: rgb(238, 251, 255);

}

.ivy-bar-info {
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.ivy-main-bar:hover ~ .ivy-main-bar-info {
    opacity: 1;
}
.ivy-death-bar:hover ~ .ivy-death-bar-info {
    
    opacity: 1;
}

.ivy-bar{
    position: relative;
}


.ivy-green{
    border: 5px solid #b7f9ba;
    background-color: #f0fff0;
}
.ivy-yellow{
    border: 5px solid #f9f1b7;
    background-color: #ffffdc;
}
.ivy-red{
    border: 5px solid #f9b7b7;
    background-color: #fde0e0;
}

.ivy-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.ivy-chart-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: #333;
    border-bottom:solid 1px;
}
.ivy-chart-header-item {
    text-align: center;
    width: 60%;
}
.ivy-chart-header-item:last-child {
    border-left:solid 1px;
    text-align: center;
    width: 40%;
}
.ivy-chart-body {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
}
.ivy-chart-item {
    width: 60%;
    text-align: center;
    font-size: 14px;
    color: #555;
}
.ivy-chart-item:last-child {
    width: 40%;
    text-align: center;
    border-left: solid 1px;
}


.ivy-green .ivy-chart-header-item,
.ivy-green .ivy-chart-item,
.ivy-green .ivy-chart-header {
    border-color:  #b7f9ba;

}
.ivy-yellow .ivy-chart-header-item,
.ivy-yellow .ivy-chart-item,
.ivy-yellow .ivy-chart-header {
    border-color: #f9f1b7;
}
.ivy-red .ivy-chart-header-item,
.ivy-red .ivy-chart-item,
.ivy-red .ivy-chart-header {
    border-color: #f9b7b7;
}