.tutorial-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 60, 100, 0.3);
  z-index: 2000;
  pointer-events: none; /* 全体にはイベント通さない */
  
}

.tutorial-highlight {
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 0 8px 3px #dabaff;
  z-index: 2001;
  background-color: rgba(255, 255, 255, 1);
  border: 2px dashed #c3a9ff;
}
.tutorial-target{
    z-index: 2003;
}

.tutorial-box {
  position: absolute;
  background: #fdf6ff;
  border: 2px solid #e0caff;
  border-radius: 16px;
  padding: 20px;
  z-index: 2002;
  max-width: 400px;
  box-shadow: 0 4px 16px rgba(100, 80, 120, 0.2);
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.tutorial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7a5fbf;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.tutorial-header span {
  font-size: 18px;
}

.tutorial-close {
  background-color: transparent;
  border: none;
  color: #955ac9;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.tutorial-close:hover {
  color: #bb82e3;
}

.tutorial-timer-bar-container {
  flex: 1;
  height: 6px;
  background-color: #ecd9ff;
  border-radius: 4px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.tutorial-timer-bar {
  height: 100%;
  background-color: #b980ff;
  width: 100%;
  transition: width 0.05s linear;
}



.tutorial-body {
  font-size: 14px;
  color: #555;
  background-color: #f4f1fa;
  padding: 12px;
  border-radius: 10px;
  line-height: 1.5;
}

