.div-class-name>section>a:first-child {
    display: block;
    height: 1.5em;
}
.div-class-name>section {
    padding: 7px 0 0 0 !important;
}

.smallzoom {
    position:absolute;
    top: 4.6em;
}
.smallzoom > a {
    padding: 2px 5px;
}

#viewport{
    display: none !important;
}

.T_I{
    width: 100%;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
    font-size: 0.95em;
}

.safe{
    background-color: #e0ffc1;
}

.warning{
    background-color: #ffffbc;
}

.danger{
    background-color: #ffe0c1;
}

.dead{
    background-color: #ff7f7f;
}

.ivy_table{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

}

.ivy_header{
    width: 100%;
}

.ivy_header_row, .ivy_data_row{
    text-align: center;
}

.ivy_cell_2data{
    width: 40% !important;
}
.ivy_cell_1data{
    width: 20% !important;
}



.hover-element {
    display: none;
    position: absolute;
    top: 1;
    right: 0;
    background-color:#edf;
    color: #a00;
    padding: 1px;
    border: 1px dashed #666;
    border-radius: 5px;


    z-index: 100;
    font-size: 0.95em;
}
  
.attendance-hidden {
    content: "";
    position: absolute;
    color:transparent;
    transform: translate(-0.7em, 0);
    pointer-events: none;
    height: 100%;
    top:0;
    width: 0.4em;
    user-select: none;
}