body{
    width: 300px;
    background-color: rgb(195, 249, 198);
}
#popup-header{
    background-color: rgb(0, 128, 0);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#popup-body{
    padding: 10px;
    text-align: left;
    font-size: large;
}

.setting{
    display: flex;
    justify-content:left;
    vertical-align: middle;
}

.settings_text{
    margin-top: 15px;
    margin-left: 10px;
    font-size: large;
}

.settings_button{
    margin-top: 10px;
    margin-left: 10px;
    font-size: large;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
    min-width: 36px;
	width: auto;
	height: 36px;
	background: #aaa;
	color: #fff;
    border:none;
	border-radius:18px;
	font-size: 1.0rem;
	cursor: pointer;
}
input[type="button"] {
    background-color: var(--enable-color);
}
input[type="button"]:hover {
    background-color: var(--enable-hover-color);
}
input[type="button"]:active {
    background-color: var(--enable-color);
}


.btn:before {
	content: 'OFF';
}
.checkbox {
	display: none;
}
/*以下を追記*/
.checkbox:checked+.btn {
	background: #1ad33a;
}
.checkbox:checked+.btn:before {
	content: 'ON';
}