body{
    width: 300px;
    background-color: rgb(195, 249, 198);
}
#popup-header{
    background-color: var(--dark-color);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#popup-body{
    padding: 10px;
    text-align: left;
    font-size: medium;
    gap: 1em;
}

.option{
    justify-content: left;
    vertical-align: middle;
}
.option-title{
    color: var(--dark-color);
    font-size: smaller;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
    min-width: 36px;
	width: auto;
	height: 36px;
	background: #aaa;
	color: #fff;
    border:none;
	border-radius:18px;
	font-size: 1.0rem;
	cursor: pointer;
}
.btn {
    background-color: var(--enable-color);
}
.btn:hover {
    background-color: var(--enable-hover-color);
}
.btn:active {
    background-color: var(--enable-color);
}

/* switch ---------- */

.switch input {
    display: none;
}
.switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    border: var(--enable-color) solid 2px;
    border-radius: 5px;
}
.switch span {
    width: 50%;
    padding: 5px 0.5em;
    text-align: center;
    color:var(--enable-color);
}
.switch .highlight{
    background-color: var(--enable-color);
    color:white;
    font-weight: bold;
}